<div
  class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8
         bg-gray-50 dark:bg-gray-900 transition-colors duration-300"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm text-center">
    <div
      class="flex justify-center items-center gap-2
             text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <lucide-icon
        name="ShieldCheck"
        class="text-[#029fae]"
        [size]="32"
      ></lucide-icon>
      <span>{{ 'auth.forgot_password.title' | translate }}</span>
    </div>

    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
      {{ 'auth.forgot_password.desc' | translate }}
    </p>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div
      class="bg-white dark:bg-gray-800 rounded-xl
             shadow-lg ring-1 ring-gray-200 dark:ring-gray-700
             px-6 py-8"
    >
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="space-y-5"
      >

        <div>
          <label class="block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2">
            {{ 'auth.login.email' | translate }}
          </label>

          <input
            type="email"
            formControlName="email"
            class="input"
            [ngClass]="{
              'ring-red-500':
                hasError('required') || hasError('email')
            }"
          />

          @if (hasError('required')) {
            <p class="error-text">{{ 'auth.validation.email_required' | translate }}</p>
          }

          @if (hasError('email')) {
            <p class="error-text">{{ 'auth.validation.invalid_email' | translate }}</p>
          }
        </div>

        <button
          type="submit"
          [disabled]="form.invalid || isLoading()"
          class="flex w-full justify-center items-center gap-2
                 rounded-md bg-[#029fae]
                 px-3 py-2 text-sm font-semibold text-white
                 shadow-md hover:shadow-lg
                 hover:bg-[#028b99]
                 transition-all disabled:opacity-50 cursor-pointer"
        >
          @if (isLoading()) {
            <lucide-icon
              name="Loader2"
              class="animate-spin"
              [size]="18"
            ></lucide-icon>
            {{ 'auth.forgot_password.sending' | translate }}
          } @else {
            {{ 'auth.forgot_password.submit' | translate }}
          }
        </button>
      </form>
    </div>

    <p class="mt-10 text-center text-sm text-gray-500 dark:text-gray-400">
      {{ 'auth.forgot_password.remember_password' | translate }}
      <a
        routerLink="/auth/login"
        class="font-semibold text-[#029fae] hover:text-[#028b99]"
      >
        {{ 'auth.forgot_password.signin' | translate }}
      </a>
    </p>
  </div>
</div>
